.error {
	color: red;
}

.no-image-record {
	height: 32px;
	padding: 6px;
	text-align: center !important;
	float: none !important;
}

.dataTables_length {
	padding-left: 2px;
}

.dataTables_filter {
	padding-right: 26px
}