<div id="sidebar" class="sidebar responsive sideareasection">
  <script type="text/javascript">
    try {
      ace.settings.loadState('sidebar');
    } catch (e) { }

    // Add active class to the current button (highlight it)
    $(document).ready(function () {
      $('ul a')
        .click(function (e) {
          var link = $(this);

          var item = link.parent('li');

          if (item.hasClass('active')) {
            item.removeClass('active').children('a').removeClass('active');
          } else {
            item.addClass('active').children('a').addClass('active ');
          }

          if (item.children('ul').length > 0) {
            var href = link.attr('href');
            link.attr('href', '#');
            setTimeout(function () {
              link.attr('href', href);
            }, 300);
            e.preventDefault();
          }
        })
        .each(function () {
          var link = $(this);
          if (link.get(0).href === location.href) {
            link
              .addClass('active')
              .parents('li')
              .addClass('active activesidebar');
            return false;
          }
        });
    });
  </script>

  <ul id="topheader" class="nav sidenavs">
    <li>
      <a href="<%=process.env.nodeAdminUrl%>/Dashboard">
        <i class="menu-icon fa fa-tachometer fa-lg" class="sideicon"></i>
        <span class="menu-text"> Dashboard </span>
      </a>
      <b class="arrow"></b>
    </li>
    <li class="">
      <a href="<%=process.env.nodeAdminUrl%>/userlist">
        <i class="fa fa-users fa-lg" aria-hidden="true" class="sideicon"></i>
        <span class="menu-text"> All Users </span>
      </a>
    </li>
    <li class="">
      <a href="<%=process.env.nodeAdminUrl%>/getSubscriptionPlans">
        <i class="fa fa-money fa-lg" aria-hidden="true" class="sideicon"></i>
        <span class="menu-text">Subscription plans</span>
      </a>
    </li>
    <li class="">
      <a href="<%=process.env.nodeAdminUrl%>/configuration/list">
        <i class="fa fa-cog" aria-hidden="true" class="sideicon"></i>
        <span class="menu-text"> Configuration </span>

      </a>
    </li>
  </ul>
  <div class="sidebar-toggle sidebar-collapse sidebtn text-center" id="sidebar-collapse ">
    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state fa-lg " style="margin-top: 30px;"
      data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
  </div>
</div>